@model App.Models.ProductModel 

<div class="card bg-success text-white">
    
    <h1 class="card-header"> Name Product : @Model.Name</h1>
    <div    class="card-body">
        <p  class="card-text">Price : @Model.Price</p>
        <p  class="card-text">ID : @Model.ID</p>
    </div>
</div>