

@{
    ViewData["Title"] = "Create Database";


}

<div class="container">
    <p class="alert alert-success">
        Bạn có chắc chắn muốn tạo cơ sở dữ liệu không ?
    </p>

    <form method="post">
        <button type="submit" class="btn btn-info">Xác nhận tạo</button>
    </form>

    <a class="btn btn-secondary mt-3" asp-action="Index">Quay lại</a>
</div>