

@{
    ViewData["Title"] = "Delete Database";


}

<div class="container">
    <p class="alert alert-danger">
        Bạn có chắc chắn muốn xóa cơ sở dữ liệu không ?
    </p>

    <form method="post">
        <button type="submit" class="btn btn-danger">Xác nhận xóa</button>
    </form>

    <a class="btn btn-secondary mt-3" asp-action="Index">Quay lại</a>
</div>