
@page "Hello.cshtml"
@model string;

@{
    Layout = "_Layout";


}

<div class="card    bg-primary  text-white">

    <div class="card-body"> 
        <p  class="card-text">
            You learing to View (.cshtml) in AspNet MVC
        </p>
    </div>

</div>